// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.icon-bar > a:hover{
	color: #000;
}
.mainNav{

}
.loginbox{
	margin: auto;
	.fbbtn{
		background-color: #3b5998;
	}
}
.signupbox{
	margin: auto;
	.fbbtn{
		background-color: #3b5998;
	}
}
.homebox{
	.button{
		width: 100%;
	}
	margin: auto;
	margin-top: 5em;
}
.editbox{
	.questionbox{
		padding: 2em;
		border-bottom: 1px solid #000;
	}
}