.row
	.medium-12.addqbox.text-center
		%h4
			Add a question
		%hr
		%form{:role => 'form', :name => 'questionForm', 'ng-submit' => 'questionForm.$valid && addQuestion(question)'}
			.row
				.medium-12
					%input.form-control{:type => 'text', :id => 'title', :placeholder => 'Title', 'ng-required' => 'true', 'ng-model' => 'question.title', :name => 'Title'}
			.row
				.medium-12
					%input.form-control{:type => 'text', :id => 'img_url', :placeholder => 'Image Url', 'ng-required' => 'true', 'ng-model' => 'question.img_url', :name => 'Image'}
			.row
				.medium-12
					%label
						Answer Count
					%input.form-control{"type" =>"number", "ng-model" => "answercount"}
			.row{"ng-repeat" => "i in iter track by $index"}
				.medium-12
					%label
						Answer {{$index + 1}} Image Url
					%input.form-control.answer{:type => 'text'}
			.row.text-center
				.medium-12
					%input.button{'ng-disabled' => '!questionForm.$valid', :type => 'submit', 'ng-value' => 'addqbtnval'}
