#modal.reveal-modal{'data-reveal' => "", "aria-labelledby" => "modalTitle", "aria-hidden" => "true", :role => "dialog"}
	%h2#modalTitle
		Edit question - {{selectedq.title}}
	%p.lead
		%input{:type => "text", "ng-model" => "selectedq.title"}
	%p.lead
		%input{:type => "text", "ng-model" => "selectedq.img_url"}
	%p.lead
		Answers
	%p.lead
		%input{:type => "text", "ng-model" => "answercount"}
	%p.lead{"ng-repeat" => "answer in selectedq.answer"}
		%input.answer{:type => "text", "ng-model" =>"answer.img_url"}
	%p.lead{"ng-repeat" => "i in iter track by $index"}
		%input.answer{:type => "text"}
	%a.button{"ng-click" => "edit(selectedq)"}
		{{editbtnval}}
.row
	.medium-12.editbox.text-center
		.row.questionbox{"ng-repeat" => "question in questions"}
			.medium-1.columns
				{{question.id}}
			.medium-5.columns
				{{question.title}}
			.medium-3.columns
				%a{"ng-click" => "update(question)"}
					%span
						%i.fa.fa-pencil
			.medium-3.columns
				%a{"ng-click" => "delete(question)"}
					%span
						%i.fa.fa-trash
