.row.text-center
	.columns.medium-4
		Rank
	.columns.medium-4
		Name
	.columns.medium-4
		Score
.row.text-center{"ng-repeat" => "user in users track by $index"}
	.columns.medium-4
		{{$index + 1}}
	.columns.medium-4
		{{user.name}}
	.columns.medium-4
		{{user.score}}


