.row
	.medium-5.homebox
		%a.button.success{"ui-sref" => "play"}
			Play
		%br
		%a.button{"ui-sref" => "add", "ng-if" => "$root.role"}
			Add Question
		%br
		%a.button.secondary{"ui-sref" => "edit", "ng-if" => "$root.role"}
			Edit Your Questions
		%form{"id" => "formc", "ng-if" => "$root.role", "ng-submit" => "updateconfig()"}
			%label
				Number of Rounds in a game
			%input{"ng-model" => "rounds"}
			%label
				Number of Questions in a round
			%input{"ng-model" => "questions"}
			%label
				Game win points
			%input{"ng-model" => "gamewp"}
			%label
				Game loose points
			%input{"ng-model" => "gamelp"}
			%label
				Round win points
			%input{"ng-model" => "roundwp"}
			%label
				Round loose points
			%input{"ng-model" => "roundlp"}
			%input{"type" => "submit", "ng-val" => "Update"}
