.mainNav.icon-bar.five-up
	%a.item
		%span
			%i.fa.fa-bolt
		SQUADRUN
	%a.item{"ui-sref" => "home"}
		%span
			%i.fa.fa-home
		Home
	%a.item{"ui-sref" => "hof"}
		%span
			%i.fa.fa-trophy
		Leaderboard
	%a.item{'ng-hide' => '$root.name', 'ui-sref' => "login"}
		%span 
			%i.fa.fa-sign-in
		Login
	%a.item{'ng-show' => '$root.name'}
		%span
			%i.fa.fa-user
		{{$root.name}}
	%a.item{'ng-hide' => '$root.name', 'ui-sref' => "signup"}
		%span
			%i.fa.fa-floppy-o
		Sign Up
	%a.item{'ng-show' => '$root.name', 'ui-sref' => "logout"}
		%span
			%i.fa.fa-sign-out
		Log Out
