#fb-root
.row
	.medium-4.loginbox
		.row.text-center
			.medium-12
				%a.button.fbbtn{'ng-click' => "fblogin()"}
					%span
						%i.fa.fa-facebook
					Login with Facebook
		%hr
		%form{:role => 'form', :name => 'loginForm', 'ng-submit' => 'loginForm.$valid && login(user)'}
			.row
				.medium-12
					%input.form-control{:type => 'text', :id => 'email', :placeholder => 'Email', 'ng-required' => 'true', 'ng-model' => 'user.email', :name => 'Email'}
			.row
				.medium-12
					%input.form-control{:type => 'password', :id => 'password', :placeholder => 'Password', 'ng-required' => 'true', 'ng-model' => 'user.password', :name => 'Password'}
			.row.text-center
				.medium-12
					%input.button{'ng-disabled' => '!loginForm.$valid', :type => 'submit', 'ng-value' => 'loginbtnval'}
