.row.text-center
	.medium-12
		{{cstatus}}
.row.text-center
	.medium-12
		Round - {{round | number:0}}
.row{"ng-show" => "show"}
	.row
		.medium-9.columns
			.medium-12.columns
				{{selectedq.title}}
			.medium-12.columns
				%img{"ng-src" => "{{selectedq.img_url}}"}
			.medium-12.columns
				Options
				.row
					.medium-12.columns{"ng-repeat" => "answer in selectedq.answer track by $index"}
						.row
							.medium-2.columns
								{{$index + 1}}
							.medium-10.columns
								%img{:src => "{{answer.img_url}}", :width => "200px", :height=>"400px"}
		.medium-2.columns
			.row
				.medium-12.columns
					Timer
					{{hours}}:{{minutes}}:{{seconds}}
				.medium-12.columns
					Answer Times
					%p{"ng-repeat" => "time in answertime track by $index"}
						Question - {{time[0]}}
						Answer - {{time[1]}}
						Time - {{time[2][0]}}:{{time[2][1]}}:{{time[2][2]}}
	.medium-9
		%input{:type => "text", "ng-model" => "answer", :placeholder => "Enter option number"}
		%a.button.success{"ng-click" => "sendAnswer()"}
			Submit Answer