#fb-root
.row
	.medium-4.signupbox
		.row.text-center
			.medium-12
				%a.button.fbbtn{'ng-click' => "fblogin()"}
					%span
						%i.fa.fa-facebook
					Sign Up with Facebook
		%hr
		%form{:role => 'form', :name => 'signupForm', 'ng-submit' => 'signupForm.$valid && signup(user)'}
			.row
				.medium-12
					%input.form-control{:type => 'text', :id => 'email', :placeholder => 'Email', 'ng-required' => 'true', 'ng-model' => 'user.email', :name => 'Email'}
			.row
				.medium-12
					%input.form-control{:type => 'text', :id => 'name', :placeholder => 'Name', 'ng-required' => 'true', 'ng-model' => 'user.name', :name => 'Name'}
			.row
				.medium-12
					%input.form-control{:type => 'password', :id => 'password', :placeholder => 'Password', 'ng-required' => 'true', 'ng-model' => 'user.password', :name => 'Password'}
			.row.text-center
				.medium-12
					%input.button{'ng-disabled' => '!signupForm.$valid', :type => 'submit', 'ng-value' => 'signupbtnval'}
